<p id="notice"><%= notice %></p>

<h1>Lista de Atividades</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Palestrante</th>
      <th>Local</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @atividades.each do |atividade| %>
      <tr>
        <td><%= atividade.descricao %></td>
        <td><%= atividade.palestrante %></td>
        <td><%= atividade.local %></td>
        <td><%= atividade.data_inicio %></td>
        <td><%= atividade.data_fim %></td>
         link_to 'Exibir', atividade %></td>
        <td><%= link_to 'Editar', edit_atividade_path(atividade) %></td>
        <td><%= link_to 'Apagar', atividade, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Atividade', new_atividade_path %>
